body
{
	margin: 0;
	padding: 0;
	font-family: verdana;
	background-image: url("meteo.jpg");
	color:#24313a ;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}
/*Champs de renseignement*/
h3
{
	text-align: center;
}
.bloc
{
	display: flex;
	flex-wrap: wrap;
	border: 1px solid #000;
	background-color: #fff;	
	margin: 200px auto;
	box-sizing: content-box;
	padding: 20px;
	width: 550px;
}

.bloc_1, .bloc_2
{
	display: flex;
	flex-direction: column;
	margin: 0px;
	padding: 10px;
	width: 255px;
}

.bloc_3, .bloc_4,
.bloc_5, .bloc_5,
.bloc_6
{
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 5px;
}

input[type=texte],
input[type=password], 
input[type=e-mail]
{
	display: inline-block;
	flex-direction: column;
	height: 25px;
	padding: 10px;
	margin: 0px;
	border: 2px solid #ccc;
}

input[type=password]
{
	background-image: url(oeil.png);
	background-repeat: no-repeat;
	background-size:25px ;
	background-position: 98%;
	border: 2px solid #ccc; 
}

/*éléments à valider*/

.boutton_1,
.boutton_2,
.boutton_3,
.boutton_4,
.boutton_5,
.boutton_7,
.last_1
{	
	padding: 10px;
	width: 120px;
	height: 50px;
	border: none;
	color: #000;
	background-color: #f2f2f2;
	margin: 6px;
}


.boutton_1:hover, .boutton_2:hover, .boutton_3:hover, .boutton_4:hover, .boutton_5:hover, .boutton_6:hover, .boutton_7:hover
{
	background-color: #207cbb;
	color: white;
	cursor: pointer;
}

/*Texte des conditions*/

.boutton .para
{
	font-size: 0.9em;
	position: relative;
	right: -270px;
	top: -60px;
}
.last .para_1
{
	position: relative;
	width: 100%;
	top: -30px;
	font-size: 0.9em;
}

.underline
{
	text-decoration: underline;
}

.boutton_1, .last_1
{
	color: #fff;
	background-color: #207cbb;
}

.last
{
	display: flex;
}

/*bouton de bascule*/

.box1
{
	display: flex;
}

input[type="checkbox"]
{
	display: none;
}
.box1:checked + label
{
	background-color: black;
}

.box1 label
{
	display: inline-block;
	color: transparent;
	border-radius: 2px;
	height: 35px;
	width: 55%;		
}

.box1
{
	position: relative;
	top: -15px;
	margin-left: 25px;
	background-color: #999999;
	border-radius: 3px;
}
#bascule1:checked ~  .bascule_label2
{
	background-color: #b8c2ca;
	width: 50px;
	color: #fff;
	transition: 1s;
}

#bascule1:not(:checked) ~ .bascule_label
{
	background-color: #3498db;
	width: 50px;
	color: #fff;
	transition: 1s;
}


/*bouton de fin*/
.last_1
{
	position: relative;
	margin: auto;	
	cursor: pointer;
}
 

